/* --------------------------------------------
  * 공통 클래스 */

/* 숨김 제목 및 콘텐츠 */
.a11y-hidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 목록 요소 기본 스타일 초기화 */
.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* 버튼 요소의 커서 및 테두리 제거 */
.button {
  cursor: pointer;
  border: none;
}

/* 링크 요소의 밑줄 및 글자 색상 재 정의 */
a {
  color: inherit;
  text-decoration: none;
}

/* 반응형 콘텐츠 */
.respons {
  max-width: 100%;
  height: auto;
}

/* 반응형 콘텐츠 ( 가로/세로 100% 유형 )*/
.respons-same {
  width: 100%;
  height: 100%;
}
