/* --------------------------------------------
  * 기본 스타일 */

::-moz-selection {
  background: #233d84;
  color: #ffffff;
}
::selection {
  background: #233d84;
  color: #ffffff;
}

html {
  font-size: 10px;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
  tap-highlight-color: rgba(255, 255, 200, 0.3);
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
}

nav a {
  color: inherit;
  text-decoration: none;
}

a img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
