/* --------------------------------------------
  * 로그인 및 회원가입 섹션 디자인 */

/* 로그인 섹션 배경 이미지 */
.member {
  color: #fefefe;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.login {
  background-image: url(../images/coffee-mobile.jpg);
}
.signup {
  background-image: url(../images/coffee-video.jpg);
}

.member :focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 4px rgba(0, 128, 255, 0.7);
}

/* 로그인 제목 및 단락 디자인 */
.member-headline,
.member-information {
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.member-headline {
  font-size: 3.6rem;
  font-weight: 100;
  margin-bottom: 24px;
}

.member-information[lang='en'] {
  font-size: 1.8rem;
}

.member-information {
  font-size: 1.2rem;
}

/* 로그인 폼 */
.membeer-form {
  margin-top: 114px;
}

.member-form fieldset {
  margin: 0 12px;
}

/* 이메일 주소와 패스워드 입력 서식 */
.member-id,
.member-password {
  position: relative;
  height: 48px;
  transition: all 300ms;
}
.member-id.is--invalid,
.member-password.is--invalid {
  height: 70px;
}
.member-id {
  margin-bottom: 30px;
}

.member-password {
  margin-bottom: 15px;
}

.member-form input {
  width: 100%;
  /* height: 40px; */
  padding: 1.5em 0.5em 0.5em;
  background-color: transparent;
  border: 0;
  color: #fefefe;
  border-bottom: 1px solid #fefefe;
  /* border-bottom: 1px solid rgba(254, 254, 254, 0.5); */
}

.is--invalid input {
  border-bottom-width: 2px;
}

.member-form input::-webkit-input-placeholder,
.member-form input::placeholder {
  opacity: 1; /* firefox 문제 해결을 위한 코드 */
  color: #c5c1bf;
}

/* 이메일 주소 및 패스워드의 값이 유효하지 않을 때 (invalid 상태) 부모 컨테이너에 is--invalid 클래스를 추가하여 오류 메시지를 보이거나 숨기도록 처리  */
/* 입력 서식에 invalid 상태 임을 알 수 있는 아이콘을 배경이미지로 처리 */
.member-id--error,
.member-password--error {
  display: none;
  font-size: 1.2rem;
  padding: 3px 0 3px 8px;
}

.is--invalid .member-id--error,
.is--invalid .member-password--error {
  display: block;
}

.is--valid::after,
.is--invalid::after,
.is--visible::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 8px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
.is--valid.member-id::after,
.is--valid.member-password::after {
  background-image: url(../images/icon-checked.svg);
}
.is--invalid.member-id::after,
.is--invalid.member-password::after {
  background-image: url(../images/icon-warning.svg);
}

/* 이메일 주소 및 패스워드의 입력 서식에 포커스 시(focus 상태) 부모 컨테이너에 is--focus 클래스를 추가하여 레이블의 위치가 상단으로 배치되도록 처리  */
/* foucs 상태 시 자바스크립트를 사용하여 input 요소에 placeholder 속성을 동적으로 추가하는 것이 필요함  */
.member-id label,
.member-password label {
  position: absolute;
  top: 18px;
  left: 8px;
  transition: all 300ms;
}

.is--focus label,
.is--valid label,
.is--invalid label {
  font-size: 1.3rem;
  transform: translate(-8px, -20px);
}

/* 패스워드 입력 시 입력 값을 보거나 감추고자 할 때 버튼을 클릭하면 패스워드의 부모 컨테이너에 is--visible 클래스를 추가하여 버튼의 배경이미지가 바뀌도록 처리 */
/* .button-password를 클릭할 때 부모 요소 컨테이너에 .is-valid 클래스가 toggle 되도록 설정이 필요함 */
/* 이때 is-visible 클래스가 부모 컨테이너에 추가되면 내부의 패스워드 입력 서식인 input 요소의 type 속성 값을 text로 변경되도록 자바스크립트 처리가 필요 함 */
.button-password {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 4px;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.is--focus .button-password {
  display: block;
}

.button-password .ir {
  display: block;
  padding: 4px;
  width: 16px;
  height: 16px;
  background: url(../images/icon-visible.svg) no-repeat 50% 50%;
}

.is--visible .button-password .ir {
  background-image: url(../images/icon-invisible.svg);
}

/* 이메일 주소 저장 체크박스 */
.save-email {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}
.save-email input {
  opacity: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-top: 1px;
  margin-right: 4px;
  background: url(../images/icon-un-checked-square.svg) no-repeat 50% 50%;
}
.save-email input:checked + .checkbox {
  background-image: url(../images/icon-checked-square.svg);
}

/* 로그인 및 회원 가입 링크 디자인 */
.button-container {
  margin-top: 133px;
}

.button-fill,
.button-stroke {
  position: relative;
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
}

/* 로그인 및 회원가입 버튼의 기본 값 및 배경 이미지 지정 */
.button-fill::after,
.button-stroke::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button-fill::after {
  background-image: url(../images/icon-arrow-darkblue.svg);
}

.button-fill {
  color: #24388d;
  background-color: #fefefe;
  opacity: 0.8;
  margin-bottom: 15px;
}

.button-stroke {
  border: 1px solid #fefefe;
  color: #f5f5f5;
  background-color: transparent;
}
.button-stroke::after {
  background-image: url(../images/icon-arrow-white.svg);
}

/* 로딩 중 .button-login의 배경 이미지 변경 */
.is--loading .button-fill::after {
  background-image: url(../images/icon-arrow-loading.svg);
}

/* disabled 상태일 때 .button-login의 배경 이미지 변경 */
.is--disabled .button-fill {
  color: #d2c9b6;
}
.is--disabled .button-fill::after {
  background-image: url(../images/icon-arrow-disabled.svg);
}

/* Desktop UI 적용을 위한 Breakpoint */
@media all and (min-width: 768px) {
  /* 데스크탑 로그인 섹션의 배경 이미지 교체 ( 데스크탑 용 배경이미지로 ) */
  .login {
    background: url(../images/coffee-desktop.jpg) 50% 0;
  }
  /* 데스크탑 로그인 폼 크기 재설정 */
  .member-form {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  /* 로그인 및 회원가입 버튼의 크기 및 배치 수정 */
  .button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .button-fill,
  .button-stroke {
    width: 260px;
  }
}
