/* --------------------------------------------
  * 이디야 뉴스 관련 콘텐츠 디자인 */
/* 이디야 뉴스 탭 메뉴 */
.news-tab {
  display: flex;
  flex-flow: row wrap;
}

.news-tab li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: #f5f5f5;
  padding: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.news-tab a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #24388d;
  background: #fefefe;
}

.news-tab a:focus {
  position: relative;
  z-index: 10;
}

.news-tab [aria-selected="true"] {
  color: #fefefe;
  background: #24388d;
}

/* 뉴스 콘텐츠 섹션 공통 */
.news {
  display: none;
  width: 100%;
  margin: 0 auto 40px;
  padding: 40px 20px;
}

.news.is--selected {
  display: block;
}

.news-headline {
  font-size: 2rem;
  font-weight: 700;
  color: #24388d;
}

.news-headline::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  margin-right: 4px;
  background: url(../images/icon-news-headline.svg) no-repeat 0 0 / 100% 100%;
}

.news-information {
  font-size: 1.3rem;
  margin: 10px 0;
}

/* 언론 속 이디야 섹션 공통 */
.ediya-media form {
  padding: 20px 0;
}
.search-container {
  height: 26px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}
.ediya-media select {
  user-select: none;
  width: 80px;
  margin-right: 5px;
  border: 0;
  border-radius: 3px;
  background: #f5f5f5;
}

.ediya-media input[type="search"] {
  flex-grow: 1;
  border: 0;
  padding: 6px;
  border-bottom: 0.5px solid #0f0f0f;
}

.button-search {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  bottom: 5px;
  border: 0;
  padding: 0;
  background: transparent;
}

.button-search .icon-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/icon-search.svg) no-repeat 0 0 / 16px 16px;
}

/* 언론속 이디야 뉴스 데이터 테이블 */
.ediya-media-news {
  width: 100%;
  border-top: 2px solid #24388d;
  border-bottom: 2px solid #24388d;
  border-collapse: collapse;
  border-spacing: 0;
  color: #24388d;
}

.ediya-media-news th,
.ediya-media-news td {
  border-bottom: 1px solid #919bc6;
}

.ediya-media-news th {
  padding: 15px 5px;
}

.ediya-media-news td {
  padding: 15px;
  vertical-align: baseline;
}

.ediya-media-news figure {
  display: none;
}

.ediya-media-news dl {
  margin: 0;
  line-height: 1.5;
}

.ediya-media-news dt {
  color: #24388d;
}

.ediya-media-news dd {
  margin-left: 0;
  color: #878787;
  font-size: 13px;
}

/* 페이징 */
.pagination-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 18px 16px;
  width: 345px;
  margin: 0 auto;
}

.button-prev,
.button-next {
  border: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background: transparent no-repeat 0 0 / 100% 100%;
  transform: scale(1.2);
}

.button-prev svg,
.button-next svg {
  width: inherit;
  height: inherit;
}

.button-prev {
  background-image: url(../images/button-prev.svg);
}

.button-prev path,
.button-next path {
  fill: #919bc6;
}

.button-prev:hover path,
.button-next:hover path {
  fill: #24388d;
}

.pagination {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: -3px;
}

.pagination li {
  margin: 0 5px;
}
.pagination a {
  color: #919bc6;
  padding: 0 3px;
}
.pagination a:hover {
  color: #24388d;
}

.pagination [aria-current="page"] {
  font-weight: 700;
  color: #24388d;
}

/* 수상 내역 */
.ediya-award-year-container {
  background: #f5f5f5;
  margin: 25px -20px -20px;
}

.ediya-award-year {
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
}

.ediya-award-year:first-child {
  padding-top: 25px;
}

.ediya-award-year:last-child {
  padding-bottom: 50px;
}

.ediya-award-year h3 {
  font-weight: 700;
  color: #24388d;
  margin: 0 25px 0 0;
}

.ediya-award-year ul {
  flex-grow: 1;
  border-left: 1px solid #c8cde2;
  position: relative;
}

.ediya-award-year ul::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 5px;
  height: 5px;
  transform: translateX(-50%);
  background-color: #24388d;
  border-radius: 4px;
}

.ediya-award-year li {
  margin-bottom: 20px;
}

.ediya-award-year summary {
  font-size: 13px;
  font-weight: 700;
  color: #0f0f0f;
  position: relative;
  list-style-type: none;
  width: 100%;
  padding: 5px;
}

.ediya-award-year summary::marker {
  display: none;
}

.ediya-award-year summary::-webkit-details-marker {
  display: none;
  color: transparent;
}

.ediya-award-year summary::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/icon-arrow-down.svg) no-repeat 0 0 / 100% 100%;
}

.ediya-award-year details[open] summary::after {
  background-image: url(../images/icon-arrow-up.svg);
}

.ediya-award-year b {
  font-size: 12px;
  font-weight: 400;
  margin-right: 10px;
}

.ediya-award-year figure {
  margin-left: 25px;
  font-size: 12px;
  font-weight: 400;
}
.ediya-award-year figcaption {
  margin-top: 10px;
}

.ediya-award-year p {
  margin-left: 25px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.ediya-award-year time {
  color: #5b6aa9;
  font-weight: 700;
  font-size: 11px;
}

/* Mobile UI 적용을 위한 Breakpoint */
@media all and (max-width: 767px) {
  /* 모바일 이디야 뉴스 관련 콘텐츠 디자인 */
  .news-tab li {
    height: 48px;
    width: 50%;
  }

  /* 언론 속 이디야 섹션 */
}

/* Desktop UI 적용을 위한 Breakpoint */
@media all and (min-width: 768px) {
  /* 데스크탑 이디야 뉴스 관련 콘텐츠 디자인 */
  .news-tab {
    justify-content: center;
    margin-top: 70px;
  }

  .news-tab a {
    width: initial;
    height: initial;
    padding: 0.83333em 2.4em;
  }

  /* 데스크탑 뉴스 */
  .news {
    max-width: 740px;
  }

  /* 데스크탑 언론 속 이디야 검색 폼 */
  .ediya-media fieldset {
    width: 440px;
    margin-left: auto;
  }

  .ediya-media-news figure {
    display: block;
    float: left;
    margin: 5px 10px 0 0;
  }

  /* 데스크탑 수상 내역 */
  .ediya-award .news-headline,
  .ediya-award .news-information,
  .ediya-award-year {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }

  .ediya-award-year:last-child {
    padding-bottom: 80px;
  }
}
