/* 공통 푸터 */
.app-footer-container{
  background-color: #0f0f0f;
  color: #878787;
  font-size: 1.2rem;
}
.app-footer{
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}
/* 공통 푸터 로고 */
.footer-brand{
  margin-top: 25px;
}
/* 공통 안내 링크 */
.guide-list{
  order: -1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* 공통 주소 */
.address{
  font-style: normal;
  margin-top: 17px;
}
/* 공통 저작권 */
.copyright{
  font-size: 1.1rem;
  margin-top: 15px;
}
@media all and (max-width: 768px){
  /* 모바일 푸터 */
  .app-footer{
    padding: 0 22px 30px;
  }
  /* 모바일 안내링크 */
  .guide-list{
    padding: 10px 0 0 0;
    border-bottom: 1px solid currentColor;
    margin: 0 -22px;
  }
  .guide-list li{
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .guide-list a {
    display: block;
    padding: 2px 0;
  }
  /* 모바일 주소 */
  .address{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .address span{
    margin-right: 15px;
    margin-bottom: 8px;
  }

}
@media all and (min-width: 768px){
  /* 데스크탑 푸터 */
  .app-footer-container{
    position: relative;
  }
  .app-footer-container::before{
    content: "";
    position: absolute;
    background-color: red;
    border-top: 1px solid currentColor;
    top: 53px;
    left: 0;
    width: 100%;
  }
  .app-footer{
    padding-bottom: 20px;
    width: 740px;
    margin: 0 auto;
  }
  /* 데스크탑 안내링크 */
  .guide-list{
    padding: 10px 0;
  }
  .guide-list li{
    margin: 0 10px;
  }
  .guide-list a {
    display: block;
    padding: 10px 0;
  }
  /* 데스크탑 주소 */
  .address{
    padding: 0 50px;
    margin-top: 5px;
  }
  .address span{
    display: inline-block;
    margin: 10px 5px 0;
  }
}