.container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}
.header{
  background-color: yellow;
  grid-area: header;
}
.ad{
  background-color: pink;
  grid-area: ad;
}
.main{
  background-color: lightgreen;
  grid-area: main;
}
.sidebar{
  background-color: skyblue;
  grid-area: sidebar;
}
.slogan{
  background-color: orange;
  grid-area: slogan;
}
.footer{
  background-color: tomato;
  grid-area: footer;
}

@media all and (max-width: 768px){
  /* 모바일 레이아웃 */
  .container{
    grid-template-areas: "header header header header"
                         "ad main main main"
                         "slogan slogan sidebar sidebar"
                         "footer footer footer footer";
  }
}

@media all and (min-width: 768px){
  /* 데스크탑 레이아웃 */
  .container{
    grid-template-areas: "header header header header"
                         "main main main sidebar"
                         "ad ad ad sidebar"
                         "slogan slogan footer footer";
  }
}