/* 공통 홈 */
/* 공통 애니메이션 */
@keyframes bounce{
  0%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0);
  }
}

/* 공통 추천음료 */
.ediya-recommend-container{
  background-color: #fff;
}
.ediya-recommend{
  background-color: #BAE5FB;
  text-align: center;
  color: #14182c;
}
.ediya-recommend-text[lang="en"] {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
}
.ediya-recommend-text{
  font-size: 1.4rem;
}
.ediya-recommend-text .point-color{
  font-size: 3.1rem;
  font-weight: 700;
  font-style: normal;
  color: #24388d;
}
.ediya-recommend-list{
  position: relative;
}
.ediya-recommend-beverage{
  position: absolute;
}
.ediya-recommend-beverage img{
  animation-name: bounce;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.18,-0.33,.83,.67);
}
.ediya-recommend-beverage:last-child img{
  animation-delay: 300ms;
}
.go-menu{
  border: 1px solid #24388D;
  display: inline-block;
  padding: 8px 24px;
  color: #24388d;
  font-weight: 700;
  font-size: 1.4rem;
  position: relative;
  z-index: 10;
}

@media all and (max-width: 768px){
  /* 모바일 홈 */
  /* 모바일 추천음료 */
  .ediya-recommend-container{
    padding-bottom: 165px;
    font-size: 20px;
  }
  .ediya-recommend{
    padding: 42px 0 20px;
  }
  .ediya-recommend-text .point-color{
    display: block;
  }
  .ediya-recommend-text{
    margin: 15px 0;
  }
  .ediya-recommend-beverage:first-child{
    display: none;
  }
  .ediya-recommend-beverage:last-child{
   position: absolute;
   width: 60%;
   max-width: 225px;
   max-height: 160px;
   top: 35px;
   left: 50%;
   transform: translateX(-60%);
  }
}
/* 공통 이디야 유튜브 */
.ediya-youtube-container{
  margin: 0;
}

/* 공통 공지사항 */
.ediya-notice{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}
.ediya-notice-headline {
  min-width: 125px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fefefe;
  padding: 15px 0 0 15px;
  margin: 0;
  background: linear-gradient(137.4deg, #263d83 3.86%, #102457 100%);
}
.ediya-notice__article {
  flex-grow: 1;
  padding: 16px 20px 16px 15px;
  background: #fefefe;
}
.ediya-notice__article-headline {
  font-size: 1.6rem;
  font-weight: 700;
  color: #24388d;
  margin: 0;
}
.ediya-notice__article-date {
  font-size: 1.2rem;
  color: #878787;
}
.ediya-notice__article-text {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #14182c;
  letter-spacing: -0.05em;
  margin: 10px 0 0 0;
}
.ediya-notice .button-container {
  position: absolute;
  bottom: 10px;
  left: 84px;
  display: flex;
  flex-flow: row nowrap;
}
.ediya-notice .button {
  border: 0;
  background: transparent;
  padding: 0;
}
@media all and (min-width: 768px){
  /* 데스크탑 홈 */
  /* 데스크탑 추천음료 */
  .ediya-recommend-container{
    padding-bottom: 260px;
  }
  .ediya-recommend{
    padding: 50px 0 32px;
  }
  .ediya-recommend-text[lang="en"]{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .ediya-recommend-text{
    margin: 30px 0;
  }
}
@media all and (min-width: 768px) and (max-width: 1019px){
  .ediya-recommend-list{
    width: 740px;
    margin: 0 auto;
  }
  .ediya-recommend-beverage:first-child{
    top: -60px;
    left: 50%;
    transform: translateX(-120%);
    width: 200px;
  }
  .ediya-recommend-beverage:last-child{
    top: -30px;
    left: 50%;
    transform: translateX(25%);
    width: 300px;
    /* background-color: pink; */
  }
}



@media all and (min-width: 1020px){
  .ediya-recommend-list{
    width: 1020px;
    margin: 0 auto;
  }
  .ediya-recommend-beverage:first-child{
    top: -107px;
    left: ;
    width: 306px;
  }
  .ediya-recommend-beverage:last-child{
    top: -45px;
    right: 0;
    width: 457px;
    /* background-color: pink; */
  }
}